@page
@model ProjetAspCore.Pages.MAtieres__referenceScriptLibraries.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>êtes-vous sûr de vouloir supprimer ?</h3>
<div>
    <h4>Matiere</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matiere.libele_matiere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matiere.libele_matiere)
        </dd>
     
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Matiere.code_matiere" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-page="./Index">Retour</a>
    </form>
</div>
