@page
@model ProjetAspCore.Pages.MAtieres__referenceScriptLibraries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Matiere</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matiere.libele_matiere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matiere.libele_matiere)
        </dd>
    
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Matiere.code_matiere">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
