@page
@model ProjetAspCore.Pages.MAtieres__referenceScriptLibraries.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Matiere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Matiere.code_matiere" />
            <div class="form-group">
                <label asp-for="Matiere.libele_matiere" class="control-label"></label>
                <input asp-for="Matiere.libele_matiere" class="form-control" />
                <span asp-validation-for="Matiere.libele_matiere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matiere.nbr_heures" class="control-label"></label>
                <input asp-for="Matiere.nbr_heures" class="form-control" />
                <span asp-validation-for="Matiere.nbr_heures" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
              
                <label asp-for="Matiere.Filiere" class="control-label"></label>
                <select asp-for="Matiere.Filierecode_filiere" class="form-control" 
                        asp-items="@Model.FilieresList"></select>
                <span asp-validation-for="Matiere.Filierecode_filiere" class="text-danger"></span>
          
            </div>
             <div class="form-group">
              
                <label asp-for="Matiere.Professeur" class="control-label"></label>
                <select asp-for="Matiere.Professeurcode_professeur" class="form-control" 
                        asp-items="@Model.ProfesseursList"></select>
                <span asp-validation-for="Matiere.Professeurcode_professeur" class="text-danger"></span>
          
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

