@page
@model ProjetAspCore.Pages.Filieres__referenceScriptLibraries.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier</h1>

<h4>Filiere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Filiere.code_filiere" />
            <div class="form-group">
                <label asp-for="Filiere.libele_filiere" class="control-label"></label>
                <input asp-for="Filiere.libele_filiere" class="form-control" />
                <span asp-validation-for="Filiere.libele_filiere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retour</a>
</div>

