@page
@model ProjetAspCore.Pages.RfidCheckModel
@{
}
  
 <div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box lockscreen clearfix">
					<div class="content">
						<h1 class="sr-only">RFID Checking</h1>
						<div class="logo text-center"><img src="~/assets/img/logo-dark.png" alt="Klorofil Logo"></div>
						<div class="user text-center">
							<img src="~/assets/img/user-medium.png" class="img-circle" alt="Avatar">
                            <label asp-for="Rfid" class="control-label"></label>
						</div>
						<form id="myForm" method="post">
							<div class="input-group">
                                 <input asp-for="Rfid" class="form-control" placeholder="Saisir votre code rfid....."/>
								<span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i></button></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
 </div>
 
<script>
    function submitForm() {
   var frm = document.getElementsByName('myForm')[0];
   frm.submit(); 
   frm.reset();  
   return false; 
}
</script>        
